<form method="POST" action="/new">
  <h2>Create a new message</h2>
  <div>
    <label>Name: </label>
    <input type="text" name="messageUser" />
    <label>Message:</label>
    <input type="text" name="messageText" />
    <button>Submit</button>
  </div>
</form>
<a href="/">Back to message board</a>
